<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxicity in LOL Gaming Community</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h3>The Female Experience of Toxicity in League of Legends</h3>

    <h1>Harassment: Forms & Measures</h1>

    <nav>
        <ul>
            <li><a href="index.html">The Toxic Gaming Community in LoL</a></li>
            <li><a href="disparity.html">Game Design & Gender Disparity</a></li>
        </ul>
    </nav>

    <div class="container">
    <main id="main-content">
      <article class="left-section">

        <h2>Harassment Forms</h2>

        <figure>
            <img src="images/reddit1-480.png" srcset="images/reddit1-480.png 1x images/reddit1-960.png 2x images/reddit1.png 3x" height="auto" width="500px" alt="Reddit Post on Harassment">            
            <img src="images/reddit3-480.png" srcset="images/reddit3-480.png 1x images/reddit3-960.png 2x images/reddit3.png 3x" height="auto" width="500px" alt="Reddit Post on Harassment">

            <img src="images/reddit2-480.png" srcset="images/reddit2-480.png 1x images/reddit2-960.png 2x images/reddit2.png 3x" height="auto" width="500px" alt="Reddit Post on Harassment">
            <img src="images/bwu_tweet-480.png" srcset="images/bwu_tweet-480.png 1x images/bwu_tweet-960.png 2x images/bwu_tweet.png 3x" height="auto" width="500px" alt="Reddit Post on Harassment">

        </figure>

        <p>The harassment experienced by female gamers within general online games encompasses a range of distressing 
            behaviors that significantly impact their gaming experience. Verbal abuse is a prevalent form, where nearly 
            all gamers encounter derogatory comments, insults, and offensive language. For women, these attitudes 
            manifest in sexist remarks, demeaning jokes, or even explicit and unwarranted advances; whereas men 
            primarily experience the more typical flaming. The toxic environment most often exists through voice chats 
            or communication channels, where anonymity can encourage individuals to engage in harmful behavior. Sexual 
            harassment is another distressing facet, with countless female gamers reporting instances of unwanted and 
            inappropriate advances, comments, or explicit messages. In a Reddit post, user Random_girl_xx shares her 
            experience in LoL, “I had a feminine name and played female characters most of the time and I got harassed 
            every time…the community is toxic towards every gender but when they know that you are a girl, it gets worse” 
            (Random_girl_xx 2023). She goes on to explain the various advances where male players requested her cell phone 
            number, but every time she politely declined, they ended up reporting her and interfering with her gameplay. 
            Numerous female gamers expressed similar experiences through posts on various social media platforms including 
            Twitter, Instagram, Discord, and YouTube. In contrast, user 4everfalling expresses a different case, “I have 
            quite a feminine name and have played since 2014 and I haven’t been harassed much at all…for being a woman 
            that is” (4everfalling 2023). Due to the prevalence of toxicity in the game itself, harassment is considered 
            a norm for everyday players of LoL, which may prompt the argument that this behavior is not exclusive to gender. 
            However, LoL's competitive game nature amplifies tensions, making female players more susceptible to targeted 
            harassment, particularly if their gamertag or way of chatting indicates femininity, and progressively worsens 
            with any slight mistakes. The commonality of such encounters not only creates discomfort but also fosters an 
            unsafe atmosphere, deterring many women from fully participating in the gaming community. 
        </p>
            
        <p>
            Furthermore, the harassment can escalate to more severe forms, including doxing (revealing one’s private information 
            online with ill intent), stalking, or threats of physical harm. Evident through Gamergate, a highly controversial and 
            inflammatory movement that emerged in 2014, which exposed a darker angle of the gaming community and ignited a 
            firestorm of harassment against female game developers, critics, and those advocating for increased diversity within 
            the industry. The movement, allegedly framed as a call for ethics in gaming journalism, quickly delegated into a 
            breeding ground for misogyny and online abuse. Female figures such as Zoë Quinn (game designer of Depression Quest), 
            Brianna Wu (video game developer), and Anita Sarkeesian (feminist cultural critic) became prime targets of orchestrated 
            harassment campaigns involving doxxing, threats of rape, violence, and death, along with rampant sexism (Lamensch 2023). 
            The severity of mass defamation led to real-life dangers including injury to their loved ones and the necessary move from 
            homes. The repercussions of Gamergate continue to reverberate as female gamers take particular caution with online interaction; 
            the movement’s aggressive and dehumanizing nature highlights the need for comprehensive solutions, not only within individual 
            games but throughout the gaming industry, to foster a safer and more inclusive environment for players of all genders.
        </p>
      </article>

      <article class="right-section">
        <h2>Protective Measures</h2>
        
        <figure>
            <div class="image-container">
                <img src="images/coping_table1-480.png" srcset="images/coping_table1-480.png 1x images/coping_table1-960.png 2x images/coping_table1.png 3x" height="auto" width="250px" alt="Coping M Chart">
                <img src="images/coping_table2-480.png" srcset="images/coping_table2-480.png 1x images/coping_table2-960.png 2x images/coping_table2.png 3x" height="auto" width="250px" alt="Coping M Chart">
            </div>
        </figure>

        <p>While gaming companies have taken significant measures in addressing toxicity, evaluating the effectiveness of these 
            initiatives is critical for future improvements. Besides the usual community guidelines agreement, LoL provides reporting 
            mechanisms that can be accessed during and after the match, which is accompanied by a checklist of reasons and a text box 
            for elaboration; they also employ moderation tools of warnings for illicit language and banning specific words within chats 
            (Ratan et al. 2015, 457). Other initiatives involve stricter penalties for offenders, such as temporary or permanent bans; 
            however, there are very few long-term consequences for these perpetrators, allowing them to continue spreading hate and 
            harassing others. Yet, it may be argued that nothing more can be done to reduce the extent of toxicity, as the community 
            has accumulated it throughout the years. The responsiveness of gaming companies to incidents of harassment significantly 
            influences whether female gamers choose to continue participating in online gaming (Fox and Tang 2016, 1303). When companies 
            take proactive measures to address harassment, implement reporting mechanisms, and enforce consequences for toxic behavior, 
            female gamers are more likely to cope positively with the challenges they face. In situations where the industry responses 
            fail to implement adequate consequences, many female gamers resort to coping strategies such as gender-bending or adopting 
            neutral identities through screen names or avatars to mitigate potential discrimination and avoid unnecessary attention 
            (Fox and Tang 2016, 1298). Additionally, avoiding communication with other players and seeking social support both within 
            and outside the gaming environment emerge as prevalent coping mechanisms (Fox and Tang 2016, 1300). These strategies highlight 
            the resilience of female gamers in the face of adversity, showcasing their ability to navigate toxic environments while 
            safeguarding their mental well-being. As most industry initiatives are not quite effective enough to decrease the rate of 
            toxicity within gaming communities, these companies must reconsider both their methods and game designs for the sake of 
            advancing toward a gaming era that prioritizes inclusivity and well-being. 
        </p>

        <figure>
            <div class="image-container">
            <img src="images/lol_report-480.png" srcset="images/lol_report-480.png 1x images/lol_report-960.png 2x images/lol_report.png 3x" height="auto" width="250px" alt="Report Mechanisms">
            <img src="images/lol_report_result-480.png" srcset="images/lol_report_result-480.png 1x images/lol_report_result-960.png 2x images/lol_report_result.png 3x" height="auto" width="250px" alt="Report Mechanisms">
            </div>
            <img src="images/lol_report_feedback-480.png" srcset="images/lol_report_feedback-480.png 1x images/lol_report_feedback-960.png 2x images/lol_report_feedback.png 3x" height="auto" width="500px" alt="Report Mechanisms">
    
          </figure>
      </article>
    </main>
</div>
      



<footer>
    <h3>Works Referenced & Used for Research</h3>
    <div class="footer-content">
    <section class="left-footer">
    <p>Clement, J. “Distribution of Game Developers Worldwide from 2014 to 2021, by Gender.” Statista, August 28, 2023. https://www.statista.com/statistics/453634/game-developer- gender-distribution-worldwide/.    </p>
    <p>4everfalling. “Games with most toxic communities towards women?” Reddit, July 25, 2023. https://www.reddit.com/r/GirlGamers/comments/158mtp8/ games_with_most_toxic_communities _towards_women/.    </p>
    <p>Fox, Jesse, and Wai Yen Tang. “Women’s Experiences with General and Sexual Harassment in Online Video Games: Rumination, Organizational Responsiveness, Withdrawal, and Coping Strategies.” New Media &amp; Society 19, no. 8 (March 8, 2016): 1290–1307. https://doi.org/10.1177/1461444816635778.    </p>
    <p>Howarth, Josh. “How Many Gamers Are There? (New 2023 Statistics).” Exploding Topics, August 11, 2023. https://explodingtopics.com/blog/number-of-gamers.    </p>
    <p>Lamensch, Marie. “The World of Online Gaming Is ‘Uniquely Uncivil’ for Women and People of Colour.” Centre for International Governance Innovation, February 22, 2023. http://www.cigionline.org/articles/the-world-of-online-gaming-is-uniquely-uncivil-for-women-and-people-of-colour.    </p>
    <p>Leo, Cheryl-Jean. “An Analysis of Gender and Roles of League of Legends Champions.” Game Design Blog - Cheryl-Jean Leo, February 8, 2021. https://cjleo.com/2021/02/08/an-analysis-of-gender-and-roles-of-league-of-legends-champions/.    </p>
    </section>

    <section class="right-footer">
    <p>Malkowski, Jennifer, TreaAndrea M. Russworm, Jennifer deWinter, and Carly A. Kocurek. “‘Aw Fuck, I Got a Bitch on My Team!’ Women and  the Exclusionary Cultures of the Computer Game Complex.” Essay. In Gaming Representation: Race, Gender, and Sexuality in Video Games, 57–73. Indiana University Press, 2017.     </p>
    <p>Random_girl_xx. “Games with most toxic communities towards women?” Reddit, July 25, 2023. https://www.reddit.com/r/GirlGamers/comments/158mtp8/ games_with_most_toxic_communities _towards_women/.    </p>
    <p>Ratan, Rabindra A., Nicholas Taylor, Jameson Hogan, Tracy Kennedy, and Dmitri Williams. “Stand by Your Man An Examination of Gender Disparity in League of Legends.” Games and Culture: A Journal of Interactive Media 10, no. 5 (January 19, 2015): 438–62. https://doi.org/10.1177/1555412014567228.     </p>
    <p>Riot Games. “Akali - Biography.” Universe of League of Legends. Accessed November 24, 2023. https://universe.leagueoflegends.com/en_AU/story/champion /akali/#:~:text=Akali%20was%20a%20precocious%20ch ild,dedicated%20to%20preserving%20Ionia’s%20balance.    </p>
    <p>Samanta, Orvill. “League of Legends Player Count & Stats 2023.” Priori Data, August 23, 2023. https://prioridata.com/data/league-of-legends/#:~:text=The%20tool%20provides%20real%2Dt ime,current%20popularity%20and%20player %20engagement. &text=League%20of%20Legends%20has%20a,active% 20players%20as%20of%202022. </p>
    <p>Shepherd, Leah. “Riot Games Settles Sex Discrimination Lawsuit for $100 Million.” SHRM, May 18, 2023. https://www.shrm.org/resourcesandtools/legal-and-compliance/state-and- local-updates/pages/riot-games-sexual-harassment-lawsuit.aspx.     </p>
    </section>
    </div>
</footer>
   

  </body>
</html>