<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxicity in LOL Gaming Community</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h3>The Female Experience of Toxicity in League of Legends</h3>

    <h1>The Toxic Gaming Community in League of Legends</h1>

    <nav>
        <ul>
            <li><a href="harassment.html">Harassment: Forms & Measures</a></li>
            <li><a href="disparity.html">Game Design & Gender Disparity</a></li>
        </ul>
    </nav>

    <div class="container">
     <main id="main-content">
      <article class="left-section">
       
        <h2>Overview</h2>
        <figure>
            <img src="images/female_gamer-480.png" srcset="images/female_gamer-480.png 1x, images/female_gamer-960.png 2x, images/female_gamer.png 3x"  height="auto" width="500px" alt="Stressed Female Gamer">
            <img src="images/lol_bg-480.png" srcset="images/lol_bg-480.png 1x, images/lol_bg-960.png 2x, images/lol_bg.png 3x" height="auto" width="500px" alt="League of Legends Official Images">
            <img src="images/lol_gamer-480.png" srcset="images/lol_gamer-480.png 1x images/lol_gamer-960.png 2x images/lol_gamer.png 3x" height="auto" width="500px" alt="League of Legends Gamer">
        </figure>

        <p>With the rise in its popularity, the online gaming culture undeniably cultivates a sense of global community and connectivity, 
            providing individuals with opportunities to forge friendships, collaborate on strategic endeavors, and engage in diverse 
            cultural exchanges, thus enriching social interactions and broadening perspectives. However, this surge in participation has 
            brought attention to toxic gaming culture, characterized by harassment, hate speech, and cyberbullying. Amid the expansive realm 
            of online gaming, all players are subject to mainstream toxicity, yet female players find themselves as primary targets, frequently 
            facing discrimination and derogatory treatment. With a particular focus on the world-renowned game, League of Legends, this discussion 
            strives to unravel the distinct manifestations of toxic gaming culture, analyze the prevalent forms of harassment and discrimination 
            directed at female gamers, and investigate the underlying factors within the game's design and the gaming industry that contribute to these issues.
        </p>
            
        <p>
            As the online gaming community offers a diverse space for entertainment and social interaction, it is crucial to understand the dynamics 
            of toxic gaming culture and its origins. Toxic gaming culture refers to the presence of harmful behaviors within online gaming communities, 
            including but not limited to harassment, hate speech, and cyberbullying. Female gamers, in particular, often find themselves the primary targets 
            of harassment and discrimination, experiencing consequences that extend beyond the boundaries of mere competition or banter, leading to severe 
            mental health issues. This issue is not confined to a single game; rather, it is symptomatic of a broader concern embedded in the dynamics 
            of various online gaming platforms. As the gaming community continues to grow in popularity, understanding the nuanced dynamics of 
            toxic behavior becomes imperative for creating an environment that is both diverse and welcoming, ultimately transforming the landscape 
            of online gaming into a space where everyone can participate without fear of discrimination or harassment. 
        </p>
      </article>

      <article class="right-section">
        
        <h2>What is <em>League of Legends</em>?</h2>
        <figure>
            <img src="images/lol_bg1-480.png" srcset="images/lol_bg1-480.png 1x images/lol_bg1-960.png 2x images/lol_bg1.png 3x" height="auto" width="500px" alt="League of Legends Official Images">
            <img src="images/lol_map-480.JPG" srcset="images/lol_map-480.JPG 1x images/lol_map-960.JPG 2x images/lol_map.JPG 3x" height="auto" width="500px" alt="League of Legends Official Images">
            <img src="images/lol_bg2-480.JPG" srcset="images/lol_bg2-480.JPG 1x images/lol_bg2-960.JPG 2x images/lol_bg2.JPG 3x" height="auto" width="500px" alt="League of Legends Official Images">
        </figure>
        <p>Analyzing the roots of toxic gaming culture leads the focus to Riot Games’ League of Legends, a game commonly known for both its widespread 
            appeal and its particularly hostile community. Launched in 2009, League of Legends (LoL) quickly surged to the forefront of the gaming world, 
            captivating millions of players globally with its strategic gameplay and fantasy-themed two-team battles. As a multiplayer online battle arena 
            (MOBA) game, LoL requires teamwork and tactical thinking as players assume various roles and champions with unique abilities, battling it out 
            in intense, fast-paced matches varying from different maps and game modes. In a typical match (Summoner’s Rift Map), the primary objective is 
            to collaborate in a 5-player team to destroy the opposing team's Nexus located in their base, thereby achieving victory by strategically 
            outmaneuvering and overpowering the enemy. The game's popularity is evidenced by the 180 million monthly active players in 2022 (Samanta 2023), 
            along with its annual esports tournament, League of Legends World Championship, representing the culmination of each season. However, LoL’s 
            success does not seclude it from the inherent issues in online gaming culture. The game's competitive nature, combined with its large and 
            diverse player base, has become a breeding ground for toxic behaviors, influencing the overall experience for many players, particularly 
            targeting female participants within the virtual arenas of LoL. Investigating the dynamics of toxicity within LoL’s interface provides 
            insights into expansive issues present in the gaming industry as a whole.
        </p>
      </article>
    </main>
</div>

        <footer>
            <h3>Works Referenced & Used for Research</h3>
            <div class="footer-content">
            <section class="left-footer">
            <p>Clement, J. “Distribution of Game Developers Worldwide from 2014 to 2021, by Gender.” Statista, August 28, 2023. https://www.statista.com/statistics/453634/game-developer- gender-distribution-worldwide/.    </p>
            <p>4everfalling. “Games with most toxic communities towards women?” Reddit, July 25, 2023. https://www.reddit.com/r/GirlGamers/comments/158mtp8/ games_with_most_toxic_communities _towards_women/.    </p>
            <p>Fox, Jesse, and Wai Yen Tang. “Women’s Experiences with General and Sexual Harassment in Online Video Games: Rumination, Organizational Responsiveness, Withdrawal, and Coping Strategies.” New Media &amp; Society 19, no. 8 (March 8, 2016): 1290–1307. https://doi.org/10.1177/1461444816635778.    </p>
            <p>Howarth, Josh. “How Many Gamers Are There? (New 2023 Statistics).” Exploding Topics, August 11, 2023. https://explodingtopics.com/blog/number-of-gamers.    </p>
            <p>Lamensch, Marie. “The World of Online Gaming Is ‘Uniquely Uncivil’ for Women and People of Colour.” Centre for International Governance Innovation, February 22, 2023. http://www.cigionline.org/articles/the-world-of-online-gaming-is-uniquely-uncivil-for-women-and-people-of-colour.    </p>
            <p>Leo, Cheryl-Jean. “An Analysis of Gender and Roles of League of Legends Champions.” Game Design Blog - Cheryl-Jean Leo, February 8, 2021. https://cjleo.com/2021/02/08/an-analysis-of-gender-and-roles-of-league-of-legends-champions/.    </p>
            </section>

            <section class="right-footer">
            <p>Malkowski, Jennifer, TreaAndrea M. Russworm, Jennifer deWinter, and Carly A. Kocurek. “‘Aw Fuck, I Got a Bitch on My Team!’ Women and  the Exclusionary Cultures of the Computer Game Complex.” Essay. In Gaming Representation: Race, Gender, and Sexuality in Video Games, 57–73. Indiana University Press, 2017.     </p>
            <p>Random_girl_xx. “Games with most toxic communities towards women?” Reddit, July 25, 2023. https://www.reddit.com/r/GirlGamers/comments/158mtp8/ games_with_most_toxic_communities _towards_women/.    </p>
            <p>Ratan, Rabindra A., Nicholas Taylor, Jameson Hogan, Tracy Kennedy, and Dmitri Williams. “Stand by Your Man An Examination of Gender Disparity in League of Legends.” Games and Culture: A Journal of Interactive Media 10, no. 5 (January 19, 2015): 438–62. https://doi.org/10.1177/1555412014567228.     </p>
            <p>Riot Games. “Akali - Biography.” Universe of League of Legends. Accessed November 24, 2023. https://universe.leagueoflegends.com/en_AU/story/champion /akali/#:~:text=Akali%20was%20a%20precocious%20ch ild,dedicated%20to%20preserving%20Ionia’s%20balance.    </p>
            <p>Samanta, Orvill. “League of Legends Player Count & Stats 2023.” Priori Data, August 23, 2023. https://prioridata.com/data/league-of-legends/#:~:text=The%20tool%20provides%20real%2Dt ime,current%20popularity%20and%20player %20engagement. &text=League%20of%20Legends%20has%20a,active% 20players%20as%20of%202022. </p>
            <p>Shepherd, Leah. “Riot Games Settles Sex Discrimination Lawsuit for $100 Million.” SHRM, May 18, 2023. https://www.shrm.org/resourcesandtools/legal-and-compliance/state-and- local-updates/pages/riot-games-sexual-harassment-lawsuit.aspx.     </p>
            </section>
            </div>
        </footer>
   

  </body>
</html>




